{#<style type="text/css">#}
{##}
{#</style>#}
{##}
{#{% extends 'share_layout/test.html' %}#}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
    {#网易云音乐#}
{#    <!-- require APlayer -->#}
{#    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.css">#}
{#    <script src="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.js"></script>#}
{#    <!-- require MetingJS -->#}
{#    <script src="https://cdn.jsdelivr.net/npm/meting@2/dist/Meting.min.js"></script>#}
{#</head>#}
{#<body>#}
{##}
{##}
{#<meting-js#}
{#    id="5102907458"#}
{#	server="netease"#}
{#	type="playlist"#}
{#    fixed="true"#}
{#    autoplay="true"#}
{#    theme="#2980b9">#}
{#</meting-js>#}
{##}
{##}
{##}
{# <div id="container">呵呵呵呵呵#}
{#     <div class="container" id="pjax-container"> Go to <a href="./test.html">test page</a>. </div>#}
{# </div>#}
{##}
{#<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>#}
{#<script src="https://cdn.bootcss.com/jquery.pjax/2.0.1/jquery.pjax.min.js"></script>#}
{##}
{#<script>#}
{#$(document).ready(function() {#}
{#    $(document).pjax('a', '#container');#}
{##}
{#    $(document).on('pjax:click', function() { alert('hello');});#}
{# });#}
{#	// 对所有链接跳转事件绑定pjax容器container#}
{#	$(document).pjax('a[target!=_blank]', '#pjax-container', {fragment:'#pjax-container', timeout:8000})#}
{#</script>#}
{##}
{#<script>#}
{#$.pjax({#}
{#    selector: 'a',#}
{#    container: '#container', //内容替换的容器#}
{#    show: 'fade',  //展现的动画，支持默认和fade, 可以自定义动画方式，这里为自定义的function即可。#}
{#    cache: true,  //是否使用缓存#}
{#    storage: true,  //是否使用本地存储#}
{#    titleSuffix: '', //标题后缀#}
{#    filter: function(){},#}
{#    callback: function(){}#}
{# })#}
{#</script>#}
{#</body>#}
{#</html>#}
<div >啦啦啦和啦啦</div>
<div >qqqqqqqqqqqqq</div>


